<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Manage</title>
</head>
<body>
<div th:insert="~{fragments/navbar}">  </div>
<div>
    <h2> DB 테스트를 위한 페이지 입니다 </h2>
</div>
<div>
    <label for="member">회원 증가 시키기</label>
    <input type="button" value="실행하기" id="member" onclick="increase('member')">
    <p th:text="|현재 회원 수 : ${memberNum}|">
</div>
<div>
    <label for="answer">정답 증가 시키기</label>
    <input type="button" value="실행하기" id="answer" onclick="increase('answer')">
    <p th:text="|현재 정답 수 : ${answerNum}|">
</div>
<div>
    <label for="song">노래 증가 시키기</label>
    <input type="button" value="실행하기" id="song" onclick="increase('song')">
    <p th:text="|현재 노래 수 : ${songNum}|">
</div>
<div>
    <label for="game">게임 증가 시키기</label>
    <input type="button" value="실행하기" id="game" onclick="increase('game')">
    <p th:text="|현재 게임 수 : ${gameNum}|">
</div>

</body>
<script src="/js/increase.js">
</script>

</html>