<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
</head>
<body>
<div>
    <h2> 관리자 페이지 입니다 </h2>
    <input type="button" value="새 게임추가" id="makeGameBtn" onclick="makeGame()">
    <table class="table table-striped" id="mainTable">
        <tr>
            <th> 게임 번호 </th>
            <th> 게임 제목 </th>
            <th> 곡 수 </th>
        </tr>
        <tbody id="tableBody">

        </tbody>
    </table>

</div>
</body>
<script src="js/Manage.js">
</script>
</html>