<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Manage-song</title>
</head>
<body>
<div>
  <p th:text="${idx}" id="gameIndex" hidden="hidden">
  <h2> 게임 수정 </h2>
</div>
<div>
  <input type="button" value="새 노래추가" id="addSongBtn" onclick="addSong()">
  <br><br>
</div>
<!-- overflow: auto -->
<div style="height:700px; overflow:auto" >
  <table class="table table-striped" id="mainTable">
    <tr>
      <th> 노래번호</th>
      <th> 노래정답 </th>
      <th> 가수 </th>
      <th> 초성힌트 </th>

    </tr>
    <tbody id="tableBody">

    </tbody>
  </table>

</div>
<div>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
<div>
  <input type="button" id="returnBtn" onclick="goback()" value="돌아가기">
</div>

</body>
<script src="/js/UpdateSong.js">

</script>
<script src="/js/checkManager.js"></script>
</html>