<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Manage-song</title>
</head>
<body>
<div th:insert="~{fragments/navbar}">  </div>
<div>
  <p th:text="${idx}" id="gameIndex" hidden="hidden">
  <h2> 게임 수정 </h2>
</div>
<div>
  <input type="button" value="새 노래추가" id="addSongBtn" onclick="addSong()">
  <br><br>
</div>
<!-- overflow: auto -->
<div style="height:700px; overflow:auto" >
  <table class="table table-striped" id="mainTable">
    <tr>
      <th> 노래번호</th>
      <th> 노래정답 </th>
      <th> 가수 </th>
      <th> 초성힌트 </th>

    </tr>
    <tbody id="tableBody">

    </tbody>
  </table>

</div>
<div>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
<div class="footNum" style="text-align:center">

</div>
<div>
  <input type="button" id="returnBtn" onclick="goback()" value="돌아가기">
</div>

</body>
<script th:inline="javascript">
  const table=document.getElementById("tableBody");
  const dto=[[${searchDTO}]];
    console.log("dto info"+dto.pageNum+"/"+dto.totalPageSize+"/"+dto.pagingSize);
    const pageNum=dto.pageNum+1;
    const answers=[[${answers}]];
    const gameIndex=[[${gameIndex}]];
    var ansCount=0;
    answers.forEach(function(answer){
        ansCount++;
        var row=`<tr id="${ansCount}">
        <td>${answer.seq}</td>
        <td>${answer.answer}</td>
        <td>${answer.singer}</td>
        <td>${answer.initial}</td>
        <td><input type="button" value="정답 추가" id="addAnsBtn" onclick="modifySong(${answer.id},${ansCount},${answer.seq},'add')"></td>
        <td><input type="button" value="정답 수정" id="modifySongBtn" onclick="modifySong(${answer.id},${ansCount},${answer.seq},'modify')"></td>
        <td><input type="button" value="정답 삭제" id="deleteAnsBtn" onclick="deleteAns(${answer.id})"></td>
        <td><input type="button" value="노래 삭제" id="deleteSongBtn" onclick="deleteSong(${answer.seq})"></td>
        </tr>`
        table.innerHTML+=row;
    })

    let html='';
    //이전 페이지 버튼 필요
    if(dto.pageNum>0){
        html+=`
        <a href="javascript:void(0);" onclick="movePage(0)" class="page_bt first" style="padding-right:10px" > 첫 페이지 </a>
        <a href="javascript:void(0);" onclick="movePage(${dto.pageNum-1})" class="page_bt prev"> 이전 페이지 </a>
        `;
    }
    let idx=Math.floor(dto.pageNum/dto.pagingSize);
    idx=idx*10+1;
    let maxIdx=idx+dto.pagingSize;
    if(idx+dto.pagingSize>dto.totalPageSize)
        maxIdx=dto.totalPageSize+1;
    html+=`<p>`;
    for(let i=idx;i<maxIdx;i++){
        html+=(i!==pageNum)?`<a href="javascript:void(0);" onclick="movePage(${i-1})" style="padding-right:5px;padding-left:5px">${i}</a>`:`<span class="on" style="color:black; padding-right:5px;padding-left:5px">${i}</span>`;
    }
    html+=`</p>`;

    if(pageNum<dto.totalPageSize){
        html += `
        <a href="javascript:void(0);" onclick="movePage(${dto.pageNum + 1});" class="page_bt next" style="padding-right:10px">다음 페이지</a>
        <a href="javascript:void(0);" onclick="movePage(${dto.totalPageSize-1});" class="page_bt last">마지막 페이지</a>
    `;
    }
    html+=`<span>${pageNum} / ${dto.totalPageSize}</span>`;
    document.querySelector('.footNum').innerHTML = html;
    function movePage(targetPage){
        const params={
            pageNum: targetPage,
            totalPageSize: dto.totalPageSize,
            pagingSize: dto.pagingSize,
            gameIndex: gameIndex
        }
        let url = location.pathname + '?' + new URLSearchParams(params).toString();
        console.log(url);
        location.href = url;
    }

</script>
<script src="/js/UpdateSong.js"></script>
</html>