<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/manage/upload" method="post">
    <input type="file" id="uploadedMusic" name="mp3">
    <input type="text" id="songAnswer" name="answer" placeholder="enterAnswer">
    <input type="text" id="singer" name="singer" placeholder="enterSinger">
    <input type="text" id="initial" name="initial" placeholder="enterInitial">
    <input type="submit" id="uploadBtn" value="Upload">
</form>
<div>
    <input type="button" id="finishBtn" onclick="finish()" value="Finish uploading">
</div>

</body>
<script src="/js/SaveMusic.js">
</script>
</html>