<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <form action="/auth/login" method="post">
        <div class="form-group">
            <label for="id">아이디</label>
            <input type="text" id="id" name="id" placeholder="id"> </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="password"> </div>
        <button type="submit">Enter</button> </form>
    <br>
    <a href="/findId">아이디 찾기</a>   <a href="/findPwd">비밀번호 찾기</a>
</div> <!-- /container -->

</body>
<script>
    console.log("i called");
    let url2='/auth/checkLogin'
    fetch(url2).then(res=>res.text()).then(data=>{
    console.log("data fetched"+data);
    if(data!="False"){
        window.location.href='/';
    }
    }).catch(err=>{
    console.log("login check api error");
    })
</script>
</html>
