<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container" sec:authorize="isAnonymous()">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username" class="form-label mt-4">아이디</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="username"> </div>
        <div class="form-group">
            <label for="password" class="form-label mt-4">비밀번호</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="password"> </div>
        <button class="btn btn-primary" type="submit">Enter</button> </form>
    <br>
    <a href="/auth/joinForm">회원가입하기</a><br>
    <a href="/auth/findId">아이디 찾기</a>   <a href="/auth/findPwd">비밀번호 찾기</a>
</div> <!-- /container -->
<div>
    <a href="/oauth2/authorization/google">구글 로그인(임시)</a>
    <a href="/oauth2/authorization/naver">네이버 로그인</a>
</div>

</body>
<script th:inline="javascript">
    var exception=[[${exception}]];
    var errText='';
    switch(exception){
        case '1': alert("아이디가 틀렸습니다(Not Happen)"); break;
        case '2': alert("아이디 혹은 비밀번호를 확인해주세요"); break;
        case '3': alert("내부 인증 서비스 오류"); break;
        case '4': alert("disabled Exception(Not happen)"); break;
        case '5': alert("인증 만료"); break;
        case '6': alert("중복 로그인은 금지 됩니다"); break;
        default : break;
    }
</script>
</html>
