<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div th:insert="fragments/navbar">  </div>
    <form action="/auth/oAuthSignUp" method="post">
    <div class="form-group">
        <label for="name" class="form-label mt-4">사용할 이름</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="Name"> </div>
    <button class="btn btn-primary" type="submit">Enter</button> </form>
</body>
</html>