<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p th:text="${remainSong}+'/'+${totalSong}"></p>
</div>
<div>
    <audio autoplay controls="false" hidden="hidden" id="musicPlayer">
        <source th:src="'audio/'+${music}+'.mp3'" type="audio/mp3">
        <p>
            지원되지 않는 브라우저 입니다
        </p>
    </audio>
</div>
<div>
    <label for="timer">남은 시간 : </label>
    <input id="timer" type="text" value="" readonly>
</div>
<div id="enterAnswer">
    <input type="text" id="answer" name="answer" onkeypress="enterKey(event)" placeholder="write answer"/>
    <input type="button" id="sub_btn" value="submit" onclick="checkAnswer()">
    <input type="button" id="skip_btn" value="Skip" onclick="skipSong()">
</div>
<div id="gotAnswer" hidden="hidden">
    <h2 id="endText" hidden="hidden">수고하셨습니다</h2>
    <h3> 정답 ! </h3>
    <p id="answerText">g</p>
    <input type="button" id="next_btn" value="Skip" onclick="skipSong()">
</div>
<div id="hintDiv">
    <p id="singerHint"></p>
    <p id="initialHint"></p>
</div>
<div>
    <input type="button" id="homeBtn" value="Home" onclick="goHome()">
</div>
</body>
<script src="js/Game.js">
</script>

</html>