<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Websocket Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="row">
        <div class="col-md-12">
            <h3>게임 리스트</h3>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">방제목</label>
        </div>
        <input type="text" class="form-control" v-model="room_name" placeholder="제목을 입력하세요">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="selectGame">게임 고르기</button>
        </div>
    </div>
    <div v-if="listStatus">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" v-for="item in gameList" v-bind:key="item.gameIndex" v-on:click="createRoom(item.gameIndex)">
                {{item.title}}
            </li>
        </ul>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" v-for="item in chatrooms" v-bind:key="item.roomId" v-on:click="enterRoom(item.roomId)">
            {{item.roomName}}
        </li>
    </ul>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            room_name : '',
            chatrooms: [
            ],
            gameList:[],
            listStatus:false
        },
        created() {
            this.findAllRoom();
            this.findAllGame();
        },
        methods: {
            findAllRoom: function() {
                console.log("will load room list");
                axios.get('/Game/rooms').then(response => { this.chatrooms = response.data; });
            },
            findAllGame: function(){
                axios.get('/gameList').then(response => {
                console.log("got all game List");
                this.gameList = response.data; });
            }
            ,
            createRoom: function(gameIndex) {
                if("" === this.room_name) {
                    alert("방 제목을 입력해 주십시요.");
                    return;
                } else {
                    console.log("room created"+gameIndex);
                    var params = new URLSearchParams();
                    params.append("name",this.room_name);
                    params.append("gameIndex",gameIndex);
                    axios.post('/createRoom',params).then(res=>{
                        console.log("res : "+res.data);
                        alert("room created");
                        this.room_name = '';
                        this.findAllRoom();
                        //move to waiting room
                        location.href="/Game/waitingRoom/"+res.data;
                    }).catch(err=>{alert("error");});
                }
            },
            enterRoom: function(roomId) {
                var sender = prompt('대화명을 입력해 주세요.');
                if(sender !== "") {
                    localStorage.setItem('wschat.sender',sender);
                    localStorage.setItem('wschat.roomId',roomId);
                    location.href="/Game/waitingRoom/"+roomId;
                }
            },
            selectGame: function(){
                console.log("clicked select button");
                this.listStatus=!this.listStatus;
                console.log("false hidden");
            }
        }
    });
</script>
</body>
</html>