<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <audio autoplay controls>
        <source th:src="'audio/'+${music}+'.mp3'" type="audio/mp3">
    </audio>
</div>
<div>

    <input type="text" id="answer" name="answer" onkeypress="enterKey(event)" placeholder="write answer"/>
    <input type="button" id="sub_btn" value="submit" onclick="checkAnswer()">

</div>

</body>
<script src="js/Game.js">
</script>

</html>