<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Websocket ChatRoom</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
  <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body oncontextmenu="return false">


<div class="container" id="app" v-cloak>
  <div v-if="introDiv">
  <div>
    <h2>방 제목 : {{room.roomName}}</h2>
    <h4> 방장 : {{room.ownerName}} 선택된 게임 : {{room.gameTitle}} 전체 곡 수 : {{room.songNum}}</h4>
  </div>
  <div>
    <h2> 노래맞추기 </h2>
    <h4> 모든 노래는 1분동안 재생됩니다. <br>
      만약 정답을 모르겠다면 스킵버튼을 눌러주세요<br>
      모든 정답은 한글 혹은 영어 소문자로 이루어져 있습니다<br>
      30초가 남게되면 가수 힌트가 제공되고 15초가 남게되면 제목의 초성 힌트가 제공됩니다<br>
    </h4>
    <h3>
      정답을 입력하실 때 띄어쓰기를 하지 말아주세요!
    </h3>
  </div>
    <div v-if="startDiv">
      <input type="button" @click="sendStart" value="Start">
    </div>
  </div>

  <div>
    <input type="button" id="homeBtn" value="Home" @click="goHome">
  </div>

  <div v-if="gameDiv">
    <div>
      {{remainSong}} / {{totalSong}}
    </div>
    <h4> 남은 시간 : {{ countDown }} 초</h4>
    <button class="btn btn-primary" type="button" @click="skipVote">스킵 투표하기</button>
    <div v-if="gotAnswerDiv">
      <h3> 정답 : {{answerText}} </h3>
    </div>
    <div id="hintDiv">
      <p v-if="singerDiv"> 가수 : {{singerHintText}}</p>
      <p v-if="initialDiv"> 초성 : {{initialHintText}}</p>
    </div>

  </div>
  <div v-if="endGameDiv">
    <h2>수고하셨습니다 게임이 종료되었습니다 5초후 게임 목록 페이지로 이동 됩니다.</h2>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text">내용</label>
    </div>
    <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" v-for="message in messages">
      {{message.sender}} - {{message.message}}
    </li>
  </ul>
  <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script src="/js/newGame.js"></script>
</body>

</html>


