<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>음악 맞추기!</title>
</head>
<body>
<div class="container">
    <h1> 노래 맞추기 !</h1>
    <br><br><br><br><br><br>
    <a href="/manage">관리자 페이지로 이동</a>
    <br><br><br><br><br><br>
<div id="notLoginHome">
    <p> 시작을 위해 로그인 하여 주세요 </p>
    <button class="btn btn-success" type="button" onclick="goLogIn()"> 로그인 </button>
    <br><br><br>
    <button class="btn btn-info" type="button" onclick="goSignIn()"> 회원 가입 </button>
</div>
<div id="loginHome" hidden="hidden">
    <button class="btn btn-secondary" type="button" onclick="playGame()"> 게임하러 가기</button>
    <input class="btn btn-danger" type="button" value="logoutTMP" id="logoutBtn" onclick="logoutHandler()">
</div>
</div>
</body>
<script src="js/Login.js"></script>
</html>